@tailwind base;
@tailwind components;
@tailwind utilities;


.modal {
  position: relative;
}

.modal .fa-trash-alt {
  position: absolute;
  top: 1/2;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
}

